:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-terciario: #167BF7;
    --background: #00030C;
    --fonte-principal: 'Inter';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--branco-principal);
}

.principal {
    background-image: url("img/HiddenFlix.png");
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: right;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 40px;
}

.container--botao {
   background-color: var(--azul-terciario); 
   border-radius: 5px;
   padding: 1em;
   margin-bottom: 1em;
   margin-top: 30px;
   color: var(--branco-principal);
   display: block;
   text-decoration: none;
}

.container--botao:hover {
    background-color: #1e61b3;
    transition: .5s;
}

.botao--secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal); 
}

.botao--secundario:hover {
    background-color: #c0c0c01f;
}

.container--aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container--titulo {
    font-size: 28px;
}

.container--imagem {
    margin: 1em 0 2em 0;
    width: 700px;
}

.container--caixa {
    margin: 0 6em ;
}

.secundario-imagem {
    width: 90%;
}

.secundario {
    align-items: center;
    margin: 0 6em;
}

.descricao-titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.2em;
}

.descricao-texto {
    color: var(--cinza-secundario);
    width: 700px;
}

.secundario--botao {
    display: inline-block;
    margin-top: 1em;
}

.container-terciario {
    align-items: center;
    margin: 0 6em;
    height: 92vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container--descricao {
    padding: 2em;
}

.dispositivos-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos-titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista-item {
    font-size: 32px;
    color: var(--branco-principal);
}

/* Rodapé */

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape_logo{
    width: 150px;
}

.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type:none;
    margin-top: 1em;
}

.lista_link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista_link a:hover {
    color: var(--azul-terciario);
}

.lista_link a:active {
    color: #d9c359;
}

.rodape_texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

/* Responsividade */

@media screen and (max-width: 414px) {

    .container {
        width: 100vw;
        height: 100vh;
    }
    
    .principal {
        background-size: 100vw;
        background-position: top;
    }

    .container--caixa {
        margin: 0;
    }

    .container--titulo {
        text-align: center;
        width: 300px;
        margin-top: 400px;
        margin-left: 50px;
        margin-right: 100px;
    }

    .container--titulo strong {
        color: #D9C359;
    }

    .container--imagem {
        width: 350px;
        margin: 50px 0 0 20px;
    }

    .container--botao  {
        display: flex;
        width: 200px;
        text-align: center;
        padding-left: 20px;
        margin: 100px 0 0 100px;
    }

    .botao--secundario {
        margin-top: 20px;
    }

    .container--aviso {
        margin: 10px 0 0 100px;
        width: 200px;
    }
    
    /* Seção 2 */

    .secundario {
        margin: 390px 0 0 0;
        display: block;
        height: 400px;
    }

    .secundario-imagem {
        margin-left: 30px;
    }

    .secundario strong {
        color: #D9C359;
    }

    .descricao-texto {
        width: 340px;
        text-align: justify;
    }

    /* Seção 3 */

    .container-terciario {
        margin: 200px 0 0 0;
        display: block;
    }

    .secundario--botao {
        margin: 0 0 0 100px;
        padding-left: 30px;
    }
}